*.cpython-*.pyc

*.wav
PythonBackend/src/models*
PythonBackend/src/AudioToVissemes

AvatarUi/public/face-models/age_gender_model-shard1
AvatarUi/public/face-models/age_gender_model-weights_manifest.json
AvatarUi/public/face-models/face_expression_model-shard1
AvatarUi/public/face-models/face_expression_model-weights_manifest.json
AvatarUi/public/face-models/face_landmark_68_model-shard1
AvatarUi/public/face-models/face_landmark_68_model-weights_manifest.json
AvatarUi/public/face-models/face_landmark_68_tiny_model-shard1
AvatarUi/public/face-models/face_landmark_68_tiny_model-weights_manifest.json
AvatarUi/public/face-models/face_recognition_model-shard1
AvatarUi/public/face-models/face_recognition_model-shard2
AvatarUi/public/face-models/face_recognition_model-weights_manifest.json
AvatarUi/public/face-models/mtcnn_model-shard1
AvatarUi/public/face-models/mtcnn_model-weights_manifest.json
AvatarUi/public/face-models/ssd_mobilenetv1_model-shard1
AvatarUi/public/face-models/ssd_mobilenetv1_model-shard2
AvatarUi/public/face-models/ssd_mobilenetv1_model-weights_manifest.json
AvatarUi/public/face-models/tiny_face_detector_model-shard1
AvatarUi/public/face-models/tiny_face_detector_model-weights_manifest.json
AvatarUi/public/animations/animation_1.fbx
AvatarUi/public/animations/animation_2.fbx
AvatarUi/public/animations/animation_3.fbx
AvatarUi/public/animations/animation_4.fbx
AvatarUi/public/animations/animation_5.fbx
AvatarUi/public/animations/animation_6.fbx
AvatarUi/public/audios/hello.json
AvatarUi/public/audios/hello.mp3
AvatarUi/public/audios/hello.ogg
AvatarUi/public/models/*.glb
AvatarUi/public/vite.svg
bkp.jsx
.gitignore
FaceRecognizer/face_recognizer.log
FaceRecognizer/__pycache__/debug_server.cpython-37.pyc
.gitignore
FaceRecognizer/__pycache__/main.cpython-37.pyc

FaceRecognizer/models/*
FaceRecognizer/src/FaceValidation/models/*
Milvus/db/*
Milvus/logs/*
Milvus/wal/*
AvatarUi/public/models/avatar.fbx
PythonBackend/src/Rhubarb/*
