.container {
  border: 2px solid #2196f3; /* Set the border color to a primary color or any color of your choice */
  padding: 20px;
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 600px;
}

.heading {
  color: #2196f3; /* Set the heading color to a primary color or any color of your choice */
  text-align: center;
  margin-bottom: 20px;
}

.captured_faces {
  display: flex;
  margin-top: 10px;
}

.captured_face {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.captured_face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.appvide {
  display: flex;
  align-items: center;
}

.appcanvas {
  position: absolute;
  top: 80px;
}

.myapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* .captured_face {
  display: flex;
  margin: 10px;
} */
.captured_faces {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.captured_face {
  position: relative;
}
